<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Character.Attributes.TestAttributes"/>
      <class name="Character.Test_Fight"/>
      <class name="Support.Test_EzLog"/>
      <class name="World.Test_Other"/>
      <class name="Actions.Test_ChangeField"/>
      <class name="Actions.Test_Help"/>
      <class name="Character.Test_Charakter"/>
      <class name="World.Test_Field"/>
      <class name="Main.Test_System"></class>
      <class name="Character.Test_RageTo"></class>
      <class name="Character.Race.Test_HumanSpeacialAction"></class>
      <class name="Character.Attributes.Test_BattleAttributes"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
